@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

:root {
  --bg-color: #fdfdfd;
  --card-color: #fafafa;
  --text-color: #1b1b1b;
}

* {
  font-family: "Poppins", sans-serif;
}

body.dark-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.light-theme {
  background: #fcfcfc;
  color: #1f1f1f;
}

.dark-theme {
  --bg-color: #1b1b1b;
  --card-color: #252525;
  --text-color: #f1f1f1;
}

html {
  overflow-x: hidden;
}

footer {
  margin-top: 3rem;
}

.fsize {
  font-size: 25px;
}

.h2 {
  font-size: 2.5rem;
}

.img-borderradius {
  border-radius: 50px;
}
.start-review img {
  max-width: 25px;
}
#home {
  margin-top: 2rem;
}

#home .special {
  font-size: 2rem;
  color: orange;
}

#home .h1-text {
  font-size: 4rem;
}

.alert {
  border-radius: 0;
  height: 70px;
  margin-top: -16px;
}

.tab-pointer {
  cursor: pointer;
}

.tab-pointer:hover {
  background-color: #0d6efd;
  color: white;
}

.height-list-product {
  min-height: 100vh;
}

.line-height {
  line-height: 1.5;
}

.gallery-section .image-container {
  margin-top: 5rem;
  columns: 3 250px;
  gap: 15px;
}

.gallery-section .image-container img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.height-card {
  height: 150px;
}

.input-height {
  height: 50px;
}

.text-area-height {
  height: 200px;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container-product {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  background: var(--card-color);
}

/* responsive breaks point */
@media screen and (max-width: 991px) {
  .alert-top {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-product {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 500px) {
  #about .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3rem;
  }
  .brand {
    display: none;
  }
}
